.btn{
  width: auto;
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
  align-self: flex-start;
  font-size: var(--font-sm)!important;
  min-width: 150px;
}
.btn.btn-a{
  background-color: var(--primary-color);
  font-weight: lighter;
  color: var(--font-white);
}
.btn.btn-a a{
  color: var(--font-white)!important;
}
.btn.btn-b{
  background-color: var(--second-color);
  font-weight: lighter;
  color: var(--font-white);
}
.button.block{
  width: 100%;
}