.section-banner,
.section-banner .container,
.section-banner .container .row{
  background-color: var(--bg-banner-color)
}
.card-banner{
  display: flex;
  width: 100%;
  background-color: var(--bg-banner-color);
  min-height: 30px;
  height: 75vh;
  align-items: center;
}
.card-banner .button{
  margin-top: 30px;
}
